*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #5D866C;
    padding: 20px 20px;
    text-align: center;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px white solid;
    border-radius: 0px 8px 12px 8px;
}
body{
    background-image: radial-gradient(circle at 50% 58%, #F5F5F0 60%, #E6D8C3);
}
.container-div{
    display: grid;
    gap: 40px;
    padding: 65px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 1200px;
    height: 750px;
    border: 3px #5D866C solid;
    border-radius: 20px;
    background-color: #C2A68C;
}
#search-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
}
#search-div > input {
    width: 90%;
    height: 80%;
    text-align: center;
    background-color: #E6D8C3;
    border: 2px #5D866C solid;
    border-radius: 12px;
    font-size: 25px;
}
#filter-div{
    background-color: #E6D8C3;
    border: 2px #5D866C solid;
    border-radius: 12px;
    height: 50%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#list-div{
    background-color: #F5F5F0;
    border: 2px #5D866C solid;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 20px; 
}
#options-div{
    background-color: #F5F5F0;
    border: 2px #5D866C solid;
    border-radius: 12px;
    display: flex;
    padding: 20px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#groups-select{
    width: 80%;
    height: 70%;
    text-align: center;
    border: 0px;
    border-radius: 12px;
    font-size: 20px;
    background-color: #E6D8C3;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 85%;
    height: 90%;
    gap: 30px;
}
.input{
    background-color: #E6D8C3;
    border-color: #5D866C;
    border-style: solid;
    border-radius: 12px;
    border-width: 2px;
}
#submit-button{
    background-color: #5D866C;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin: auto;
    width: 50%;
}
#submit-button:hover{
    background-color: #4b6b55;
}
#name{
    height: 40px;
    font-size: 18px;
    text-align: center;
}
#date{
    height: 40px;
    font-size: 18px;
    text-align: center;
}
#priority-form{
    height: 40px;
    font-size: 18px;
    text-align: center;
}
.to-do{
    margin-bottom: 20px;
}
.name{
    padding-bottom: 6px;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    width: 50%;
}
.priority{
    width: 20px;
    height: 32px;   
    border-radius: 50%;
    padding: 1px 10px;
    font-size: 18px;
    clip-path: circle(40% at 50% 50%);
    border: black 6px solid;
    align-items: center;
}
.date-div{
    width: 130px; 
    height: 35px; 
    border: 2px #4b6b55 solid;
    justify-content: center;
    transform: skew(-20deg); 
    padding: 8px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.info-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0px 15px;
    align-items: center;
    padding-bottom: 10px;
}
ol li::marker {
    font-size: 24px;
}
.task-list {
  list-style-type: none;
}
.to-do:not(:last-child) {
  border-bottom: 1px solid #5D866C;
}
.l{
    background-color: rgb(110, 110, 255);
}
.m{
    background-color: yellow;
}
.h{
    background-color: red;
}

.right-side{
    display: flex;
    gap: 30px;
    align-items: center;
}
.left-side{
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    gap: 20px;
}
.disable{
    display: none;
}