*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: antiquewhite;
    padding: 20px 20px;
    text-align: center;
    font-family: "Cabin Sketch", sans-serif;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px black solid;
    border-radius: 20px;
}
body{
    background-image: url('./img/bg.jpg');
}
.container-div{
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    width: 1400px;
    height: 650px;
    border: 1px black solid;
    border-radius: 20px;
    background-color: antiquewhite;
}

